<?xml version='1.0' ?>

<launch>
  <arg name="use_sim_time" default="true"/>
  <arg name="failover_mode" default="false"/>
  <arg name="gazebo_version" default='8'/>
  <arg name="sim_update_rate" default='100'/>
  <arg name="headless" default="false"/> 

  <include file="$(find-pkg-share rmf_demos)/common.launch.xml">
    <arg name="use_sim_time" value="$(var use_sim_time)"/>
    <arg name="viz_config_file" value ="/root/rmf_ws/maps/building.rviz"/>
    <arg name="config_file" value="dc_l2.building.yaml"/>
  </include>

  <group>
    <include file="$(find-pkg-share rmf_demos_fleet_adapter)/launch/fleet_adapter.launch.xml">
      <arg name="use_sim_time" value="$(var use_sim_time)"/>
      <arg name="nav_graph_file" value="/root/rmf_ws/maps/maps/0.yaml" />
      <arg name="config_file" value="/root/rmf_ws/maps/tinyRobot_config.yaml"/>
    </include>
  </group>

  <include file="$(find-pkg-share rmf_demos_gz)/simulation.launch.xml">
    <arg name="map_name" value="dc_l2" />
    <arg name="gazebo_version" value="$(var gazebo_version)" />
    <arg name="sim_update_rate" value="$(var sim_update_rate)"/>
    <arg name="headless" value="$(var headless)"/>
  </include>

</launch>

